.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialog_item {
padding: 10px 0 20px 10px;
}
.dialog_item .activeLink {
    color: white;
}
.messages {
    padding: 10px;
}
.message {
    padding: 5px;
}